<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head", { title: "Home" }) %>
    <link rel="stylesheet" href="/css/home.css">        
</head>

<body>
    <header>
        <%- include("./partials/header") %>
    </header>
    <h1>Bienvenido</h1>
    <% if (user) { %>
        <p>¡Hola <%= user.firstName %> <%= user.lastName %>! Bienvenido de vuelta.</p>
        <img src="<%= user.avatar %>" alt="User Avatar" style="width: 100px; height: 100px;">
        <a href="/auth/logout">Cerrar sesión</a>
    <% } else { %>
        <p>Inicia sesión</p>
        <a href="/auth/login">Login</a>
    <% } %>
    <main>
        <div class="carrusel-news">
            <button class="carrusel-arrow carrusel-left-arrow">
                <i class="fa-solid fa-chevron-left"></i>
            </button>
            <button class="carrusel-arrow carrusel-right-arrow">
                <i class="fa-solid fa-chevron-right"></i>
            </button>
            <ul class="carrusel-slider">
                <li>
                    <a href="">
                        <img src="/images/News/News1.jpg" alt="News1" id="carrusel-image-1">
                    </a>
                </li>

                <li>
                    <a href="">
                        <img src="/images/News/News2.jpg" alt="News2" id="carrusel-image-2">
                    </a>
                </li>

                <li id="carrusel-image-3">
                    <a href="">
                        <img src="/images/News/News3.jpg" alt="News3" id="#carrusel-image-3">
                    </a>
                </li>

            </ul>
        </div>

        <div class="main-center">
            <div class="floating-options">
                <ul>
                    <li>
                        <a href="" class="icon-option">
                            <i class="fa-solid fa-tag"></i>
                            Ofertas
                        </a>
                    </li>

                    <li>
                        <a href="" class="icon-option">
                            <i class="fa-solid fa-ticket"></i>
                            Cupones
                        </a>
                    </li>
                    <li>
                        <a href="" class="icon-option">
                            <i class="fa-solid fa-star"></i>
                            Más vendidos
                        </a>
                    </li>
                    <li class="option-category">
                        <a href="" class="icon-option icon-option-category">
                            <i class="fa-solid fa-mobile-screen-button"></i>
                            Celulares
                        </a>
                    </li>
                    <li class="option-category">
                        <a href="" class="icon-option">
                            <i class="fa-solid fa-tv"></i>
                            Televisores
                        </a>
                    </li>
                    <li class="option-category">
                        <a href="" class="icon-option">
                            <i class="fa-solid fa-laptop"></i>
                            Laptops
                        </a>
                    </li>
                    <li class="option-category">
                        <a href="" class="icon-option">
                            <i class="fa-solid fa-gamepad"></i>
                            Consolas
                        </a>
                    </li>
                </ul>
            </div>

            <div class="cards">
                <div class="section-title">
                    <h2 class="titleH2">Productos</h2>
                </div>

                <% products.forEach(product => { %>
                    <% if(!product.discount){ %>
                    <section class="card">
                        <a href="" class="section-card">
                            <article class="section-card__img">
                                <img src="/images/products/<%= product.image %>" alt="<%= product.image %>">
                            </article>
                            <article class="section-card__title">
                                <h3><%= product.name %></h3>
                            </article>
                            <article class="section-card__price">
                                <p>$ <%= product.price %></p>
                            </article>
                            <article class="section-card__btn">
                                <button class="card-btn">
                                    AGREGAR AL CARRITO
                                </button>
                            </article>
                        </a>
                    </section>
                    <% }; %>
                <% }); %>
                    
                <div class="section-title">
                    <h2 class="titleH2">Ofertas de productos por tiempo limitado!</h2>
                </div>

                <% products.forEach(product => { %>
                    <% if(product.discount){ %>
                    <section class="card">
                        <a href="" class="section-card">
                            <article class="section-card__img">
                                <img src="/images/products/<%= product.image %>" alt="<%= product.image %>">
                            </article>
                            <article class="section-card__title">
                                <h3><%= product.name %></h3>
                            </article>
                            <article class="section-card__old-price">
                                <!-- Precio del producto sin el descuento -->
                                <h4 class="old-price">$ <%= product.price %></h4>
                                <h4 class="descount-price"> <%= product.discount %>% OFF</h4>
                            </article>
                            <article class="section-card__price">
                                <!-- Al precio del producto se le descuenta el descuento -->
                                <p>$ <%= product.price - (product.price*product.discount/100) %></p>
                            </article>
                            <article class="section-card__btn">
                                <button class="card-btn">
                                    AGREGAR AL CARRITO
                                </button>
                            </article>
                        </a>
                    </section>
                    <% }; %>
                <% }); %>

            </div>
        </div>
    </main>

    <footer>
        <%- include("./partials/footer") %>
    </footer>
</body>

</html>