<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head", { title: "Lista de productos" }) %>
    <link rel="stylesheet" href="/css/listaProductos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <%- include("./partials/header") %>
    </header>

    <h1>Mis Productos</h1>
    <div class="container">
        <ul>
            <% products.forEach(function(product) { %>
                <li>
                    <strong>Categoria:</strong> <%= product.category %><br>
                    <strong>Nombre:</strong> <%= product.name %><br>
                    <article class="section-card__img">
                        <img src="/images/products/<%= product.image %>" alt="<%= product.image %>" width="300px">
                    </article>
                    <strong>Precio:</strong> $<%= product.price %><br>
                    <strong>Descuento:</strong> $<%= product.discount %><br>
                    <strong>Stock:</strong> <%= product.stock %><br>
                    <strong>Descripcion:</strong> <%= product.description %><br>
                    <strong>Garantía:</strong> <%= product.warranty %> meses<br>
                    <strong>Rating:</strong> <%= product.rating %><br>
                    <a href="/product/vista-editar-producto/<%= product.id %>">Editar</a>
                </li>
            <% }); %>
        </ul>
    </div>

    <footer>
        <%- include("./partials/footer") %>
    </footer>
</body>
</html>