<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head", { title: "Login" }) %>
        <link rel="stylesheet" href="/css/login.css">

    <script src="../js/loginValitation.js"></script>
</head>

<body>
    <header>
        <%- include("./partials/header") %>
    </header>

    <main>
        <p class="bienvenida">¡Te damos la bienvenida!</p>
        <div class="login">
            <p class="iniciar-sesion">INICIAR SESIÓN CON EMAIL</p>
            <form action="/user/login" method="POST" class="loginForm">
                <div class="input-container">
                    <input type="email" name="email" placeholder="ingresar email" id="email"
                    value="<%= locals.oldData ? oldData.email : null %>">
                    <p class="input-container__item emailp"></p>
                </div>
                <% if(locals.errors && errors.email){ %>
                    <p class="text-error">
                        <%= errors.email.msg %>
                    </p>
                <% } %>

                <div class="switch-block">
                    <p>Recordar</p>
                    <input type="checkbox" name="remember" id="toggle">
                    <label for="toggle" class="switch"></label>
                </div>

                <div class="input-container">
                    <input type="password" name="password" placeholder="ingresar contraseña" id="password">
                    <p class="input-container__item passwordp"></p>
                </div>
                <% if(locals.errors && errors.password){ %>
                    <p class="text-error">
                        <%= errors.password.msg %>
                    </p>
                <% } %>

                <div class="options">
                    <p class="uno">
                        <a href="/user/register" class="ancla">Registrarme</a>
                    </p>
                    <p class="dos">
                        <a href="www." class="ancla">Olvide mi contraseña</a>
                    </p>
                </div>
                <input type="submit">

            </form>
        </div>
    </main>

    <footer>
        <%- include("./partials/footer") %>
    </footer>
</body>

</html>