<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/userProfile.css">
  <title>Perfil de Usuario</title>
  <%- include("./partials/head", { title: "Perfil" }) %>        
</head>
<body>
    <header>
        <%- include("./partials/header") %>
    </header>
    <main>
        <% if(locals.user) {%>
        <div class="profile-container">
            <% if(locals.rol.name) {%>
                    <h1>Bienvenido a tu perfil de <%= rol.description %></h1>
            <% } %>
            <div class="user-info">
            <div class="row">
                <div class="value"><img class="avatar" src="/images/profile/<%= user.avatar %>" alt="Avatar" width="200" height="200"></div>
            </div>
            <div class="row">
                <div class="label">Nombre:</div>
                <div class="value"><%= user.firstName %></div>
            </div>
            <div class="row">
                <div class="label">Apellido:</div>
                <div class="value"><%= user.lastName %></div>
            </div>
            <div class="row">
                <div class="label">Género:</div>
                <div class="value"><%= user.gender %></div>
            </div>
            <div class="row">
                <div class="label">País: </div>
                <div class="value"><%= user.country %></div>
            </div>                
            <div class="row">
                <div class="label">Correo Electrónico:</div>
                <div class="value"><%= user.email %></div>
            </div>
            <div class="row">
                <div class="label">Contraseña: </div>
                <div class="value"><%= user.password %></div>
            </div>
            </div>
            <div class="edit-section">
                <a href="/user/userProfile/edit"><button class="edit-button">Editar perfil</button></a>
            
            <a class="logout-link" href="/user/confirmLogout">Cerrar sesión</a>
            </div>
        </div>
        <% } %>
    </main>
    <footer>
        <%- include("./partials/footer") %>
    </footer>
</body>
</html>
